/* http://meyerweb.com/eric/tools/css/reset/
 v2.0 | 20110126
 License: none (public domain)
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	background-color: none;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* ------------------------ END RESET ----------------------- */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */

body {
	clear: both;
	line-height: 1.5em;
}

html {
	min-height: 100%;
	background-image: url('/img/brillant.png');
	background-attachment: fixed;
	font-family: 'Arial', 'Helvetica', 'sans-serif';
	color: #333;
	background-color: rgba(0,0,0,0.1);
}
header {
	min-height: 100px;
}

header h1 {
	float: left;
}

header a {
	float: right;
}

header h1, header .site-link {
	height: 50px;
	line-height: 50px;
	margin: 0;
}

header, footer {
	/*background: #8fd4ff;*/
	background: rgba(143, 212, 255, .5);
	/*background: #e6e6e6;*/
	/*background: #B4E8C3;*/
	/*background: rgba(180,232,195,0.5);*/
}

footer {
	width: 100%;
	height: 150px;
}

nav {
	width: 100%;
	display: block;
	height: 20px;
	padding: 10px;
}

nav ul {
	float: right;
}

nav li {
	float: left;
	display: block;
	width: 100px;
	text-align: center;
}

h1 {
	font-size: 40px;
	font-family: 'Pacifico', 'cursive';
	color: #444;
	margin-bottom: 25px;
}

h2 {
	font-size: 30px;
	font-family: 'Pacifico', 'sans-serif';
	color: #8fd4ff;
	margin-bottom: 10px;
	margin-top: 10px;
}

.process {
	text-align: center;
	/*margin: 0 auto;*/
}

#index {
	display: block;
	text-indent: -9999px;
	width: 100%;
	height: 200px;
	background: url('../../img/heada.svg') no-repeat;
	background-size: 75%;
	margin: 20px;
}

.info-box {
	height: 150px;
	width: 100%;
	border: 2px solid #ebeced;
	margin-top: 10px;
	background: rgba(254,254,254,0.5);
}

.contact, .about-me {
	height: 500px;
	border: 2px solid #ebeced;
	background: rgba(254,254,254,0.5);
}

img {
	margin: 10px;
}

.about-me {
	text-align: center;
}

input {
	height: 30px;
	width: 100%;
	margin: 0 auto;
	display: block;
}

.project {
	width: 220px;
	height: 220px;
}

.project img {
	width: 220px;
	height: 220px;
	border-radius: 51%;
	position: relative;
}

.project-details-container {
	display: none;
	width: 220px;
	min-height: 220px;
	background: rgba(255,255,255,.9);
	overflow: hidden;
	text-align: center;
	border-radius: 50%;
	position: absolute;
	z-index: 999999;
	margin: 10px;
}

.project-details-content {
	display: none;
	margin: auto;
	height: 100px;
	/*border-radius: 300px;*/
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.process h3 {
	font-size: 16px;
	width: 200px;
	margin: 0 auto;
}

.contact * {
	/*display: block;*/
	margin: 10px 20px;
}

.contact h2 {
	margin: 20px;
}

.contact input, .contact label {
	margin: 0 0 10px;
}

.resume div {
	margin: 30px 0;
}

.resume div div div {
	margin: 10px 0;
}

.resume h2 {
	height: 30px;
}

.resume .first {
	margin-top: 0;
}

#resume-contact {
	display: block;
	margin: 10px 0 0 0;
}

.skills ul li {
	height: 35px;
	line-height: 35px;
}

h3 {
	font-weight: bold;
}

.skill-rep {
	margin: 0 !important;
	float: right;
	display: inline-block;
}

.skill-rep .full, .skill-rep .empty {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	margin: 1px;
	float: left;
}

.skill-rep .full {
	background: rgba(143, 212, 255, 1);
}

.skill-rep .empty {
	background: rgba(0,0,0,.3);
}

@media all and (max-width: 959px) and (min-width: 768px) {
	.project {
		width: 172px;
		height: 172px;
	}

	.project img {
		width: 172px;
		height: 172px;
		position: relative;
	}

	.project-details-container {
		display: none;
		width: 172px;
		min-height: 172px;
	}
}

@media all and (max-width: 767px) {
	.project {
		width: 300px;
		height: 300px;
		margin-bottom: 10px !important;
	}

	.project img {
		width: 300px;
		height: 300px;
		position: relative;
	}

	.project-details-container {
		display: none;
		width: 300px;
		min-height: 300px;
	}
}
