/* http://meyerweb.com/eric/tools/css/reset/
 v2.0 | 20110126
 License: none (public domain)
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	background-color: none;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* ------------------------ END RESET ----------------------- */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */

body {
	clear: both;
	line-height: 1.5em;
}

html {
	min-height: 100%;
	background-image: url('/img/brillant.png');
	background-attachment: fixed;
	font-family: 'Arial', 'Helvetica', 'sans-serif';
	color: #333;
	background-color: rgba(0,0,0,0.1);
}

footer {
	width: 100%;
	height: 150px;
}

header {
	/*background: #e6e6e6;*/
	/*background: #B4E8C3;*/
	background: rgba(180,232,195,0.5);
}

footer {
	background: rgba(255,190,165,0.5);
	/*background: #e6e6e6;*/
	/*background: #C6C8FF;*/
}

nav {
	width: 100%;
	display: block;
	height: 20px;
	padding: 10px;
}

nav a {
	float: right;
	display: block;
	width: 100px;
	text-align: center;
}

h1 {
	font-size: 40px;
	font-family: 'Pacifico', 'cursive';
	color: rgba(0,0,0,0.7);
	margin-bottom: 25px;
}

h2 {
	font-size: 30px;
	font-family: 'Pacifico', 'sans-serif';
	color: #8fd4ff;
	margin-bottom: 25px;
	margin-top: 10px;
}

.process {
	text-align: center;
	/*margin: 0 auto;*/
}

#index {
	display: block;
	text-indent: -9999px;
	width: 100%;
	height: 200px;
	background: url('../../img/heada.svg') no-repeat;
	background-size: 75%;
	margin: 20px;
}

.info-box {
	height: 150px;
	width: 100%;
	border: 2px solid #ebeced;
	margin-top: 10px;
	background: rgba(254,254,254,0.5);
}

.contact, .about-me {
	height: 500px;
	border: 2px solid #ebeced;
	background: rgba(254,254,254,0.5);
}

img {
	margin: 10px;
}

.about-me {
	text-align: center;
}

input {
	height: 30px;
	width: 95%;
	margin: 0 auto;
	display: block;
}

.project img{
	border-radius: 300px;
}

.project-details{
	display: none;
	width: 430px;
	height: 430px;
	border-radius: 300px;
	margin-top: -430px;
}

.project img:hover{
	 -webkit-filter: blur(3px) grayscale(50%);
	 /*-webkit-transform: scale(0.95);*/
}
