/* ed5100 */
/* http://meyerweb.com/eric/tools/css/reset/
 v2.0 | 20110126
 License: none (public domain)
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	background-color: none;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* ------------------------ END RESET ----------------------- */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */

header a, header a:visited, header a:hover, header a:active {
	display: block;
	padding: 10px 20px;
	border-radius: 2px;
	color: rgba(255,255,255,1);
}

header a:hover{
	background: rgba(0,0,0,0.1);
	text-decoration: underline;
}

header p{
	float: left;
}
nav li {
	text-align: center;
}

a {
	text-decoration: none;
	color: #333;
	font-weight: bold;
}


a:visited {
	text-decoration: none;
	color: #333333;
}

a:hover {
	text-decoration: underline;
}

img:hover{
	text-decoration: none;
}

a:active {
	color: #182C69;
}

body {
	clear: both;
	line-height: 1.5em;
}

h1, h2, h3, a, footer{
	font-family: 'Century Gothic', 'Avenir', 'sans-serif';
}

h1 {
	font-size: 25px;
	font-weight: 100;
	color: rgba(255,255,255,1);
	margin-bottom: 25px;
}

h2 {
	font-size: 20px;
	text-align: center;
	color: rgba(247,92,56,1);
	line-height: 1.5em;
	margin-bottom: 10px;
	margin-top: 10px;
}

html {
	background-image: url('/img/brillant.png');
	background-attachment: fixed;
	font-family: 'Arial', 'Helvetica', 'sans-serif';
	font-size: 14px;
	color: #333;
	background-color: rgba(0,0,0,0.1);
}
header {
	min-height: 150px;
	margin-bottom: 20px;
}

header h1 {
	float: left;
	font-weight: 100;
}

header a {
	float: right;
}

header h1, header .site-link {
	font-size: 20px;
	height: 50px;
	line-height: 50px;
	margin: 0;
}

header, footer {
	/*background : #ed5100;*/
	background: rgba(247,92,56,.8);
}

footer {
	margin-top: 20px;
	width: 100%;
	min-height: 150px;
	margin-bottom: 0;
}

footer li *, footer li{
	height: 40px;
	line-height: 40px;
	padding: 10px 0;
}

footer img{
	display: inline-block;
	float: left;
	padding-right: 10px;
}

nav {
	display: block;
	height: 20px;
	padding: 10px;
}

nav ul {
	float: right;
}

.process {
	text-align: center;
	/*margin: 0 auto;*/
}

.contact, .about-me {
	text-align: center;
	background: rgba(254,254,254,0.5);
}

.contact{
	padding: 10px 0;
}

.about-me {
	font-size: 14px;
	padding: 10px 10px;
}

.about-me img {
	width: 80%;
	margin: 10px auto;
}

input {
	height: 30px;
}

.contact textarea {
	margin: 0;
}

input, textarea {
	border: 1px solid #EBECED;
	background: rgba(255,255,255,.5);
	box-shadow: none;
	padding: 5px;
	width: 97.5%;
	margin: 0 auto;
	display: block;
}

.project img {
	max-width: 100%;
	border-radius: 51%;
	position: relative;
}

.project-details-container {
	background: rgba(85,85,85,0.8);
	overflow: hidden;
	text-align: center;
	border-radius: 50%;
	position: absolute;
	z-index: 999999;
}

.project-details-content {
	color: white;
	font-size: 12px;
	margin: auto;
	height: 100px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.project-details-content a{
	color: rgba(247,92,56,.8);
}

.project-details-content h2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.process h3 {
	font-size: 16px;
	width: 100%;
	margin: 0 auto;
}

.contact input, .contact label {
	margin: 0 0 10px;
}

.resume div {
	margin-bottom: 20px;
	padding: 0 5px;
}

.resume div div div {
	margin: 10px 0;
}

.resume h2 {
	height: 30px;
}

.resume .first {
	margin-top: 0;
}

#resume-contact {
	display: block;
	clear: both;
	/*margin: 10px 0 0 0;*/
}

.intro{
	font-family: 'Helvetica', 'Arial', 'sans-serif';
	font-size: 24px;
	line-height: 1.5em;
	color: white;
	font-weight: lighter;
}

.shapes, .sizes{
	font-size: 34px;
	padding: 0 5px 0 0;
}

.shapes{
	font-family: 'Pacifico', 'cursive';
}

.sizes{
	text-transform: uppercase;
	font-weight: bold;
}

.skills ul li {
	padding: 0 10px;
	height: 35px;
	line-height: 35px;
}

.skills ul li:nth-child(2n+1) {
	background: rgba(255,255,255,0.5);
}

.skill-rep {
	margin: 10px 0 !important;
	float: right;
	display: inline-block;
}

.skill-rep .full, .skill-rep .empty {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	margin: 1px;
	float: left;
	padding: 0;
}

.skill-rep .full {
	background: rgba(247,92,56,1);
	/*background: rgba(143, 212, 255, 1);*/
}

.skill-rep .empty {
	background: rgba(0,0,0,.3);
}

ul {
	margin: 0 0 10px;
}

.footer-icon{
	height: 25px;
	width: 25px;
}

@media all and (max-width: 959px) and (min-width: 768px) {
	.project {
		width: 172px;
	}

	.project img {
		width: 172px;
		position: relative;
	}

	.project-details-container {
		width: 172px;
	}
	
	.project-details-container p{
		display: none;
	}
}

@media all and (max-width: 767px) {
	.project {
		width: 300px;
		margin-bottom: 10px !important;
	}

	.project img {
		width: 300px;
		position: relative;
	}

	.project-details-container {
		width: 300px;
	}
	
	.project-details-container p{
		display: block;
	}
}
